<ng-template #rt let-result="result" let-term="term" let-formatter="formatter">
    <div class="symbol">
        <!--{{result.symbol}}-->
        <alc-ngb-highlight [result]="result" [prop]="'code'" [term]="term"></alc-ngb-highlight>
    </div>
    <div class="subject">
        <!--{{result.name}}-->
        <alc-ngb-highlight [result]="result" [prop]="'name'" [term]="term"></alc-ngb-highlight>
    </div>

</ng-template>
<input type="text" placeholder="Enter stock code" class="form-control" (selectItem)="itemSelected($event)" [ngModel]="model" (ngModelChange) ="OnModelChange($event)" [ngbTypeahead]="search" [resultTemplate]="rt" [inputFormatter]="formatter" [resultFormatter]="formatter"/>
